<table class=table  id="<%=type%>-goals">
  <% goals.each do |goal| %>
  <tr>
    <div class="goal">
      <td><b><%= goal.skill.nickname %></b></td>
      <td><%= goal.num_sessions %> practice session(s)</td>
      <td><%= goal.session_length %> minutes each</td>
    </div>
  </tr>
  <% end %>
</table>
