<li class="actvity-item">
  <%= a.trackable.username %> added a goal of <%= a.trackable.num_sessions %> <%= a.trackable. session_length%> minute session(s) for the following skill: <%= a.trackable.skill.nickname %>.
</li>
