<div class="paper col-sm-7 col-sm-offset-1">
  <div class="tab-container">
    <h5 class='tab active-tab chart-button' id="week-chart-tab" target="week" value="1" >Last Week</h5>
    <h5 class="tab chart-button" id="month-chart-tab" target="month" value="4">Last Month</h5>
    <h5 class="tab chart-button" id="year-chart-tab" target="year" value="52">Last Year</h5>
  </div>

  <canvas class="charts" id="week-chart" width="300" height="300"></canvas>
  <canvas class="charts" id="month-chart" width="300" height="300"></canvas>
  <canvas class="charts" id="year-chart" width="300" height="300"></canvas>
</div>
