<div class="paper col-sm-7 col-md-offset-1">

<h2>Skills</h2>
<div id="skills">
  <% if @skills %>
    <table class="table">
      <tr>
      <% cache "skills-list-#{current_user.skills.count}-#{current_user.skills.maximum(:updated_at)}" do  %>
      <% @skills.each do |skill| %>
      <% cache "skill-#{skill.id}-#{skill.updated_at}" do  %>
        <div class="skill">
        <%= render partial: "shared/skill_details", locals: {skill: skill} %>
          <td>
            <% if skill.last_practiced_date%>
                <h4><span class="number-circle inverse"> <%= skill.points_earned%> </span> Points</h4>
            <% end %>
          </td>
        </div>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    </table>
  <% end %>
  </div>
</div>
