<% associated_users.each do |user| %>
<div class="col-sm-3">
<img src="<%= user.image %>" class='community-photo'>
<h4><%= link_to user.nickname, user_path(user.nickname), class: "#{type}-#{user.id}" %></h4>
</div>
<% end %>
