<div class="quiz-info">
<% if other %>
  <p>Created by: <%= quizset.created_by %></p>
<% end %>
<p>Created <%= unix_to_days_from_today(quizset.created_date) %> ago</p>
<p><%= quizset.term_count %> Cards</p>
<%= link_to "Practice On Quizlet", "https://www.quizlet.com/#{quizset.url}" %>
</div>
