<div class="paper col-sm-7 col-sm-offset-1">
  <div class="tab-container">
    <h5 class='tab activity-tab active-tab' id="current-activity-tab" target="community">Your Community</h5>
    <h5 class="tab activity-tab" id="all-activity-tab" target="all">All Users</h5>
  </div>

  <div class="all-activity">
    <h2>All Users</h2>
      <%= render_activities(@all_activities) %>
  </div>

  <div class="community-activity">
    <h2>Your Community</h2>
      <%= render_activities(@follower_activities) %>
  </div>




</div>
