<div class="home-bar" id=grad>
  <%= image_tag "CODEPOINTS.png" %>

<h1><b>Deliberate Practice<b></h1>
<h4>It's not the number of hours that count.  It's how you spend those hours. </h4>
<h4>Set goals.  Track your practice sessions. See results.</h4>


<%= button_to "Login with Github", github_login_path, method: :get, class: 'home-button' %>

</div>

<div class="home-integrate">

  <h3>Integrates with your favorite learning apps.</h3>
  <div class="app-imgs">

      <%= image_tag "codewars.jpg", class:"feature-img" %>

      <%= image_tag "quizlet.png", class:"feature-img" %>

  </div>


</div>
