<div class="col-sm-12">
  <p class="actvity-item">
    <% if a.trackable  %>
      <%= image_tag a.trackable.user.image, class: "profile-photo"%>
      <%= a.trackable.username %> added <%= a.trackable.nickname %> as a skill.
    <% end %>
  </p>
</div>
