/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
 .sidebar {
   background-color: #565857;
   padding: 20px;
 }
 .sidebar h4 {
   color: #e8e6e5;
 }

 .sidebar label {
   color: #e8e6e5;
 }

 .paper
 {
 	position: relative;
 	width: 800px;
 	padding: 20px;
 	margin: 0 auto;
 	background-color: #fff;
 	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.025), inset 0 0 50px rgba(0, 0, 0, 0.025);
 	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.025), inset 0 0 50px rgba(0, 0, 0, 0.025);
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.025), inset 0 0 50px rgba(0, 0, 0, 0.025);
 }

 .profile-photo {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
