/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

 .tab-container{
   margin-top: -50px;
   text-align: right;
 }

 .tab {
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   color: black;
   font-weight: bold;
 }

 .tab:hover {
   text-decoration: none;
   color: gray;
 }

 .active-tab {
   border-bottom: 4px solid #9C7A97;
 }


 .home-bar {
    min-height: 70vh;
    padding-top: 100px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Open Sans';
}


#grad {
  background: #399e5a;
  background: -webkit-linear-gradient(-90deg, #399e5a, #63E2C6);
  background: -o-linear-gradient(-90deg, #399e5a, #63E2C6);
  background: -moz-linear-gradient(-90deg, #399e5a, #63E2C6);
  background: linear-gradient(-90deg, #399e5a, #63E2C6);
}

.home-integrate {
  min-height: 70vh;
  padding-top: 100px;
  padding-bottom: 10px;
  overflow: hidden;
  text-align: center;
  font-family: 'Open Sans';
  postition: relative;
}

.home-button {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    background: none;
    border: 2px solid white;
    position: relative;
    text-align: center;
    margin-top: 50px;
}


.feature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 180px;
}

 .sidebar {
   background-color: #5abcb9;
   padding: 20px;
 }
 .sidebar h4 {
   color: white;
 }

 .sidebar h3 {
   color: white;
 }
 .sidebar label {
   color: white;
 }

 .paper {
 	position: relative;
 	width: 800px;
 	padding: 20px;
 	margin: 0 auto;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    background: none;
    border: 2px solid #5abcb9;
 }

 .profile-photo {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: -20px;
}
.name {
  margin-top: -10px;
  margin-left: -20px;
}

.number-circle {
    display:inline-block;
    border-radius:50%;
    border:3px solid white;
    color: white;
    font-size:32px;
}
.number-circle.inverse {
  border:3px solid #9C7A97;
  color: #9C7A97;
}
.pull-right {
  text-align: right;
}

.number-circle:before,
.number-circle:after {
    content:'\200B';
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}

.number-circle:before {
    padding-left:8px;
}
.number-circle:after {
    padding-right:8px;
}

.user-stats {
  margin-left: -20px;
  margin-top: 10px;
  color:white;
}

.arrow-down {
  margin-top: 10px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

.arrow-down:hover {
  border-top: 20px solid gray;

}
.side-form {
  margin-top: 10px;
}


.stage {
 -webkit-perspective: 1000;                   /* Sets up your viewpoint for seeing the animation */
}

.flashcard {
  height: 200px;
  width: 400px;
  margin: 10% auto;
  border: 2px solid #9C7A97;
  border-radius: 8px;

  box-shadow: 2px 2px 2px #9C7A97;
  -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
  transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
  -webkit-transition: all 0.3s;
}

.flashcard:hover{
  border: 3px solid #5abcb9;
}


.flipped, .definition {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);                      /* Rotates flashcard div when applied */
}

.term, .definition {
  position: absolute;
  -webkit-backface-visibility: hidden;           /*  Hides back side of text (it's upside down) */
  height: 180px;                                   /* Stretches side to inhabit full size of flashcard */
  width: 380px;
  text-align: center;
}

.term p, .definition p {
  margin-top: 15%;
  font-size: 18px;
  font-family: 'Open Sans';
}
